<div class="mt-4">
  <div class="row">
    <div class="col-md-6">
      <a href="" class="btn btn-link" routerLink="">
        <i class="fas fa-arrow-circle-left"></i>
        Back To Dashboard</a
      >
    </div>
    <div class="col-md-6">
      <div class="btn-group float-right">
        <a href="" [routerLink]="['/editeClient/', id]" class="btn btn-light"
          ><i class="fas fa-marker"></i> Edit</a
        >
        <button class="btn btn-danger" type="button" (click)="onDeleteClinte()">
          <i class="fas fa-trash"></i> Delete
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="client" class="card mt-2">
    <h3 class="card-header">
      {{ client.fristName | uppercase }}
    </h3>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3>Client Name : {{ client.fristName }} {{ client.lastName }}</h3>
        </div>
        <h3 class="float-right">
          Balance :
          <span
            [class.text-danger]="client.balance == 0"
            [class.text-success]="client.balance > 0"
          >
            {{ client.balance | currency }}
          </span>
          <small>
            <a (click)="editeBalance = !editeBalance">
              <i style="cursor: pointer;" class="fas fa-pen"></i>
            </a>
          </small>
          <br />
          <form
            *ngIf="editeBalance"
            (ngSubmit)="updateBalance(id)"
            class="mt-2 form-inline float-right"
          >
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-sm "
                [(ngModel)]="client.balance"
                name="clientBalance"
              />
              <button type="submit" class="btn btn-success btn-sm">
                Update
              </button>
            </div>
          </form>
        </h3>
      </div>
      <hr />
      <div class="list-group">
        <li class="list-group-item">ID : {{ id }}</li>
        <li class="list-group-item">Email : {{ client.email }}</li>
        <li class="list-group-item">Phone : {{ client.phone }}</li>
      </div>
    </div>
  </div>
</div>
